@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  color: #000;
}
body {
  position: relative;
}
[class*="__container"] {
  /*любая строка, которая содержит -container будет применять данные стили */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; /*отступы безопасности */
}
[class*="__title"] {
  color: #252525;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px; /* 100% */
  text-transform: uppercase;
  position: relative;
  padding-bottom: 18px;
}
[class*="__title"]::after {
  position: absolute;
  content: "";
  right: calc(50% - 217px / 2);
  width: 217px;
  height: 4px;
  background: #f9bf3b;
  bottom: 0;
}
/*------HEADER-----*/
.header {
  margin-top: 10px;
  width: 100%;

  background: url(../img/header/main_bg.png) no-repeat center/cover;
}
.logo-img {
  display: flex;
  justify-content: center;
  padding-top: 12px;
  margin-left: 4px;
}
.logo-title {
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 14px;
  margin-right: 20px;
}
.header-info {
  position: relative;
  margin-top: 52px;
  margin-bottom: 72px;
}
.header-subtitle {
  color: #f9bf3b;
  /* font-family: Roboto; */
  font-size: 41px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-right: 22px;
}
.header-title {
  position: relative;
  color: #fff;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: 80px; /* 100% */
  text-transform: uppercase;
  text-align: center;
  /* padding-top: 6px;
  padding-bottom: 5px; */
  padding: 6px 10px 5px;
  margin-right: 27px;
}
.header-title::after {
  position: absolute;
  content: "";
  width: 25%;
  height: 2px;
  top: calc(45% + 2px);
  right: 13px;
  background: #fff;
}
.header-title::before {
  position: absolute;
  content: "";
  width: 25%;
  height: 2px;
  top: calc(45% + 2px);
  left: 6px;
  background: #fff;
  margin-left: 10px;
}
.header-text {
  color: #fff;
  text-align: justify;
  font-size: 21px;
  font-weight: 300;
  margin: 16px 14px;
  line-height: 28px; /* 133.333% */
}
.header-text span {
  color: #f9bf3b;
  font-size: 21px;
  font-weight: 700;
  line-height: 28px;
}
.header-button {
  display: flex;
  justify-content: center;
  margin: -3px;
  margin-bottom: 70px;
}
.header-button button {
  width: 313px;
  height: 72px;
  font-family: Roboto Condensed;
  background: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  color: #fff;
  text-align: center;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
  font-size: 21px;
  font-weight: 400;
  line-height: 24px; /* 114.286% */
  text-transform: uppercase;
}
.header-go {
  padding-bottom: 87px;
}
.go-title {
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: 100;
  line-height: 24px; /* 160% */
  text-transform: uppercase;
  padding-bottom: 2px;
  margin-right: 28px;
}
.go-but {
  display: block;
  margin: 0 auto;
}
/*-----PLAN---------*/
.plan {
  background-color: #efefef;
  position: relative;
}

.plan__container {
  padding-top: 59px;
}

.plan-subtitle {
  padding-top: 21px;
  color: #4a4a4a;
  text-align: center;
  font-size: 23px;
  font-weight: 400;
  line-height: 20px; /* 86.957% */
}
.plan-carts {
  padding: 0 25px;
  padding-top: 46px;
  display: flex;
  gap: 48px;
  padding-bottom: 75px;
}
.cart-img {
  padding-bottom: 22px;
}
.cart-text {
  color: #4a4a4a;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px; /* 140% */
}
/*--------INFO-------*/
.info {
  position: relative;
}
.info-bg {
  position: absolute;
  top: 27px;
  left: -212px;
}
.info__container {
  position: relative;
}
.info-content {
  position: absolute;
  top: 0;
  right: 30px;
  max-width: 750px;
}
.info-title {
  padding-top: 87px;
  padding-bottom: 17px;
  color: #299cbd;
  font-size: 30px;
  font-weight: 900;
  line-height: 30px; /* 100% */
  text-transform: uppercase;
}
.info-text {
  color: #4a4a4a;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px; /* 158.824% */
}
.info-text p {
  padding-bottom: 10px;
}
.info-text span {
  font-weight: 700;
}
